body{
    margin: auto;
    height: auto;
    width: auto;
}
h1{

    padding: 10px 10px;
    color: beige;
    background-color: rgb(65, 65, 65);
}
.for{
    padding: 5% 35%;
    display: inline-block;
   
}
input{
    width: 100px;
    background-color: aquamarine;
    box-shadow: 10px 10px 10px ;
}
label{
    color: rgb(64, 0, 64);
    font-size: large;
}
 #bt{
width: 100px;
    margin-top: 20px;
    margin-left: 53%; 
    color: rgb(252, 252, 252);
    background-color: black;
    border-radius: 25px;
    box-shadow: 1px 1px 1px ;
}
#flag{
    height: 250px;
    width: 400px;
    background-color: rgb(195, 219, 211);
    box-shadow: 10px 10px 10px;
    border: 3px solid black;
   
}

#flag img{
    padding: 10px 10px;
    height: 180px;
    width: 350px;
    background-repeat: no-repeat;

}